@import "./../../../scss/main.scss";

.chat {
  flex: 1;
  position: relative;
}
.chatBlock {
  position: absolute;
  top: 50px;
  left: 0px;
  right: 0px;
  bottom: 130px;
}

.chatList {
  padding: 20px 20px 0px 20px;
}