@import "./../../../../scss/main.scss";

.newMessage {
  @include flexbox();
  flex-direction: column;
  border-top: 1px solid $first;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 130px;
  width: 100%;
  background: $second;
  padding: 15px 20px;
  flex: 0 0 auto;
  &__message {
    flex: 1;
    width: 100%;
    line-height: 1.6;
    resize: none;
    border-radius: 6px;
    font-size: 14px;
  }
}