@import "./../../scss/main.scss";
.profile {
  margin: 15px 15px;
  animation: showIn 0.2s ease;
  transform: translateZ(0);
  @media (max-width: $md4+px) {
    margin: 7px;
  }
  &__wrap {
    height: 100%;
    overflow: hidden;
  }
  &__preloader {
    margin: 15px;
    width: auto;
    border-radius: 10px;
    @media (max-width: $md3+px) {
      margin: 0px;  
      border-radius: 0;
    }
  }
}

@keyframes showIn {
  from {  opacity: 0; }
  to   {  opacity: 1; }
}