@import "./../../../../scss/main.scss";

.post {
  margin: 0 auto;
  box-shadow: $shadow;
  border-radius: 6px;
  padding: 25px;
  max-width: 600px;
  background: #fff;
  margin-bottom: 20px;
}

.header {
  position: relative;
  @include flexbox();
  align-items: center;
  margin-bottom: 15px;
}

.title {
  font-size: 16px;
  font-weight: 600;
}

.date {
  font-size: 12px;
  line-height: 1.6;
}

.logo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 25px;

  img {
    max-width: 100%;
  }
}

.preview {
  width: 100%;
  border-radius: 2px;
  overflow: hidden;
  margin-bottom: 10px;

  img {
    width: 100%;
    max-width: 100%;
  }
}

.message {
  margin-bottom: 20px;
}
.change {
position: absolute;
top: 0px;
right: 0px;
height: 15px;
width: 15px;
&__img {
  max-width: 100%;
}
&__list {
  position: absolute;
  min-width: 100px;
  font-size: 14px;
  top: 100%;
  right: 0px;
  text-align: center;
  background: $first;
  visibility: hidden;
  transition: visibility 0.1s;
  box-shadow: $shadow;
}
&__button {
  background: lighten($accent, 20%);
  color: $first;
  height: 25px;
  line-height: 25px;
  border-radius: 4px;
  padding: 0px 15px;
  cursor: pointer;
  transition: background 0.1s;
  &:hover {
    background: lighten($accent, 5%);
  }
}
&:hover {
  .change__list {
    visibility: visible;
  }
}
}