@import "./../../../../scss/main.scss";
.post {
	margin: 0 auto;
	box-shadow: $shadow;
	border-radius: 6px;
	padding: 25px;
	max-width: 600px;
	background: #fff;
	margin-bottom: 20px;
}
.header {
	@include flexbox();
	align-items: center;
	margin-bottom: 15px;
}
.title {
	font-size: 16px;
	font-weight: 600;
}
.date {
	font-size: 12px;
	line-height: 1.6;
}
.logo {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	overflow: hidden;
	margin-right: 25px;
	img {
		max-width: 100%;
	}
}
.preview {
	width: 100%;
	border-radius: 2px;
	overflow: hidden;
	margin-bottom: 10px;
	img {
		width: 100%;
		max-width: 100%;
	}
}
.message {
	margin-bottom: 20px;
}
