@import "./../../scss/main.scss"; 
.nav {
  grid-area: nav;
  background: $first; 
  border-radius: 6px;
  box-shadow: $shadow; 
  padding: 0px;
  list-style: none;
  margin-left: 15px;
  height: 400px;
}
.list {
  padding: 0px;
}
.list__item {
  list-style: none;
}

.link {
  display: block;
  height: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #2C5F1B;
  border-bottom: 1px solid rgb(206, 209, 214);
  padding: 0px 25px;
}
.linkActive {
  color: rgb(63, 21, 44);
  height: 60px;
  line-height: 60px;
  background: #2C5F1B;
}

