
.nav {
  grid-area: nav;
  flex-basis: 20%;
  background: #F3F3F3;
  /* box-shadow: 0 1px 10px 0 rgba(32, 33, 36, .28); */
	/* border-radius: 0px 6px 6px 0px; */
	padding: 25px;
}
.link {
  color: #2C5F1B;
}
.active {
  color: rgb(162, 204, 148);
}