
@import "./../../scss/main.scss";

.news {
	height: 100%;
	&__scrollbar {
		height: 100%;
	}
	&__container {
		@include flexbox();
		flex-direction: column;
		background-color: $second;
		box-shadow: $shadow;
		border-radius: 6px;
		min-height: 670px;
		margin: 15px 15px;
	}
	&__bottomControl {
		@include flexbox();
		flex-wrap: wrap;
		padding: 0px 20px;
		align-items: center;
		height: 50px;
	}
	&__pagination {
		margin-left: auto;
		margin-right: 0;
	}
}