@import "./../../../../scss/main.scss";

.newPostForm {
  background: $second;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 6px;
  box-shadow: $shadow;
  &__message {
    width: 100%;
    padding: 0px;
    line-height: 1.6;
    resize: none;
    border-radius: 6px;
    font-size: 14px;
  }
}