@import "./../../../scss/main.scss";

.navbar {
  box-shadow: $shadow;
  border-radius: 10px;
  overflow: hidden;
  padding: 0px;
  list-style: none;
  @media (max-width: $md3+px) {
    border-radius: 0px;
    background: $first;
  }
  &__list {
    padding: 0px;
    @media (max-width: $md3+px) {
      @include flexbox();
      // max-width: 700px;
      margin-right: 0;
      margin-left: auto;
    }
  }
}