@import "./../../../../scss/main.scss";


.navbarLink {
  list-style: none;
  font-size: 14px;
  overflow: hidden;
  @media (max-width: $md3+px) {
    flex: 1;
  }
  &__img {
    position: absolute;
    width: 17px;
    height: 17px;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    @media (max-width: $md3+px) {
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
  }
  &__title{
    @media (max-width: $md3+px) {
      display: none;
    }
  }
  &__link {
    position: relative;
    display: block;
    background: $second;
    height: 49px;
    line-height: 49px;
    text-decoration: none;
    color: $textLight;
    padding: 0px 25px;
    padding-left: 50px;
    transition: background 0.2s;
    @media (max-width: $md2+px) {
      height: 45px;
      line-height: 45px;
    }
    @media (max-width: $md3+px) {
      border-bottom: 0px;
    }
    &:hover {
      background: darken($first, 5%);
    }
    &:active {
      background: darken($first, 10%);
    }
    &_active {
      color: $first;
      background: $accent;
      &:hover {
        background: $accent;
      }
    }
  }
}