@import "../../scss/main.scss";

.dialogs {
  height: 100%;
  max-width: 1100px;
  position: relative;
  animation: showIn 0.2s ease;
  &__preloader {
    margin: 15px;
    width: auto;
    border-radius: 10px;
  }
  &__container {
    @include flexbox();
    position: absolute;
    top: 15px;
    bottom: 15px;
    left: 15px;
    right: 15px;
    background: $second;
    box-shadow: $shadow;
    border-radius: 10px;
    overflow: hidden;
    @media (max-width: $md3+px) {
      top: 0px;
      bottom: 0px;
      left: 0px;
      right: 0px;
      border-radius: 0px;
    }
  }
}

@keyframes showIn {
  from {  opacity: 0; }
  to   {  opacity: 1; }
}