
@import "./../../scss/main.scss";
.settings {
	height: 100%;
	animation: showIn 0.2s ease;
	transform: translateZ(0);
	&__preloader {
		margin: 15px;
    width: auto;
		border-radius: 10px;
		@media (max-width: $md3+px) {
      margin: 0px;  
      border-radius: 0;
    }
	}
	&__wrap {
		margin: 15px;
		background: $second;
		border-radius: 8px;
		overflow: hidden;
		@media (max-width: $md3+px) {
			margin: 0px;
			border-radius: 0px;
    }
	}
	&__container {
		padding: 25px 30px;
		@media (max-width: $md3+px) {
			padding: 20px 15px;
    }
	}
	&__form {
		&_inline {
			@include flexbox();
			align-items: center;
			@media (max-width: $md4+px) {
				display: block;
			}
		}
	}
	&__aboutUser {
		height: 230px;
	}
}

@keyframes showIn {
  from {  opacity: 0; }
  to   {  opacity: 1; }
}