
@import "./../../../../scss/main.scss";

.newsArticle {
  transition: all 0.3s;
  &__wrap {
    display: block;
    position: relative;
    color: $accent;
    font-size: 14px;
    border-radius: 10px;
    padding: 15px;
    box-shadow: $shadow;
    overflow: hidden;
    height: 100%;
    transition: background 0.2s;
    padding-bottom: 60px;
    transition: box-shadow 0.2s ease;
    &:hover {
      box-shadow: $shadowAccent;
    }
  }
  &__content {
    font-size: 14px;
  }
  &__img {
    position: relative;
    padding-top: 65%;
    img {
      background: $first;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 2px;
      box-shadow: $shadowligth;
      height: 100%;
      width: 100%;
      overflow: hidden;
      object-fit: cover;
      &:before {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        background: $first;
        z-index: 1;
      }
      &:after {  
        content: "Sorry, image link crashed :(";
        display: block;
        width: 50%;
        text-align: center;
        font-size: 12px;
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
      }
    }
    margin: 0px -15px;
    margin-top: 25px;
    margin-bottom: 10px;
  }
  &__title {
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 10px;
    max-height: 35px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
  &__descr {
    max-height: 110px;
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
  }
  &__info {
    position: absolute;
    top: 15px;
    left: 0px;
    width: 100%;
    padding: 0px 15px;
    @include flexbox();
    justify-content: space-between;
    color: $textLight;
  }
  &__name {
    font-size: 11px;
  }
  &__date {
    font-size: 11px;
  }
  &__link {
    position: absolute;
    bottom: 15px;
    right: 15px;
    z-index: 1;
  }
  &_listMode {
    .newsArticle__wrap {
      @include flexbox();
      padding-bottom: 15px;
    }
    .newsArticle__img {
      flex: 0 0 150px;
      width: 150px;
      height: 100px;
      padding: 0px;
      margin: 0px 15px 0px -15px;
      @media (max-width: $md4+px) {
        flex: 0 0 100px;
        width: 100px;
        height: 100px;
      }
      img {
        border-radius: 6px 10px 10px 6px;
        @media (max-width: $md4+px) {
          border-radius: 0px 10px 10px 0px;
        }
      }
    }
    .newsArticle__content {
      width: 100%;
      position: relative;
      padding-bottom: 15px;
    }
    .newsArticle__info {
      top: auto;
      bottom: 0px;
      padding: 0px;
    }
    .newsArticle__title {
      max-height: 20px;
      -webkit-line-clamp: 1;
    }
    .newsArticle__descr {
      max-height: 55px;
      -webkit-line-clamp: 3;
    }
    .newsArticle__link {
      display: none;
    }
  }
}