@import "../../scss/main.scss";

.dialogs {
  background: $second;
  box-shadow: $shadow;
  border-radius: 6px;
  height: 515px;
  display: grid;
  grid-template-areas: "head head"
    "notification  chat";
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 50px auto;
}

.chat {
  grid-area: chat;
  @include flexbox();
  flex-direction: column;

}

.notificationList {
  grid-area: notification;
  border-right: 1px solid $first;
  display: block;
}

.chatMessage {
  flex: 1;
  padding: 20px 20px 0px 20px;
  min-height: 300px;
}

.newMessage {
  width: 100%;
  border-top: 1px solid $first;
  background: $second;
  padding: 15px 20px;
  flex: 0 0 auto;

  &__message {
    width: 100%;
    line-height: 1.6;
    resize: none;
    border-radius: 6px;
    font-size: 14px;
  }
}

.button {
  display: block;
  margin-right: 0px;
  margin-left: auto;
  background: $accent;
  text-transform: uppercase;
  color: $second;
  height: 35px;
  line-height: 35px;
  padding: 0px 20px;
  min-width: 90px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 600;
  box-shadow: $shadow;
  transition: background 0.2s;

  &:hover {
    background: lighten($accent, 5%);
  }

  &:active {
    background: darken($accent, 10%);
  }
}