@import "../../scss/main.scss";

.dialogs {
  position: absolute;
  top: 75px;
  bottom: 15px;
  right: 15px;
  left: 0px;
  background: $second;
  box-shadow: $shadow;
  border-radius: 6px;
  display: grid;
  grid-template-areas: "head head"
    "notification  chat";
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 50px auto;
}


.notificationList {
  grid-area: notification;
  border-right: 1px solid $first;
  display: block;
}