
@import "./../../scss/main.scss";

.users {
	background-color: $second;
	box-shadow: $shadow;
  border-radius: 6px;
	max-width: 800px;
}
.settings {
	@include flexbox();
	overflow: auto;
	justify-content: flex-end;
	padding: 0px 20px;
	align-items: center;
	height: 50px;
	border-bottom: 1px solid $first;
}