
@import "../../../../scss/main.scss";

.captcha {
	margin-bottom: 20px;
	&__label {
		display: block;
		font-size: 13px;
		padding-left: 5px;
		margin-bottom: 5px;
	}
	&__security {
		@include flexbox();
	}
	&__item {
		position: relative;
		width: 250px;
		margin-right: 48px;
	}
	&__img {
		max-width: 100%;
		border-radius: 8px 0px 8px 8px;
	}
	&__refreshButton {
		position: absolute;
		top: 0px;
		right: -32px;
		width: 32px;
		height: 32px;
		background: $accent3;
		border-radius: 0px 8px 8px 0px;
		transition: background 0.1s;
		&:hover {
			background: darken($accent3, 10%);
		}
		&:active {
			background: darken($accent3, 15%);
		}
		img {
			width: 15px;
		}
	}
	&__input {
		display: block;
		width: 100%;
		padding: 0px 15px;
		border: 1px solid $first;
		border-radius: 8px;
		line-height: 30px;
		font-size: 14px;
	}
}

.captchaStatus {
	display: inline-block;
	padding: 0px 10px 0px 28px;
	line-height: 25px;
	position: relative;
	background: $accent3;
	border-radius: 8px;
	margin-bottom: 5px;
	&__img {
		width: 15px;
		position: absolute;
		top: 50%;
		left: 5px;
		transform: translateY(-50%);
	}
	&__text {
		font-size: 12px;
	}
}