@import "./../../../scss/main.scss";

.newsPanel {
  background: $second;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: $shadow;
  text-decoration: none;
  color: $accent;
  &__title {
    display: block;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    line-height: 30px;
    height: 30px;
    color: $first;
    background: $accent;
    box-shadow: $shadowligth;
  }
  &__container {
    height: 260px;
  }
  &__button {
    @include flexbox();
    position: relative;
    justify-content: center;
    align-items: center;
    height: 30px;
    translate: background 0.1s;
    box-shadow: $shadowligth;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
    &:hover {
      &::after {
        background: rgba(0, 0, 0, 0.1);
      }
    
    }
  }
  &__dots {
    height: 7px;
    width: 7px;
    border-radius: 50%;
    background: rgb(114, 114, 114); 
    position: relative;
    margin: 0 14px;
    &:before, &:after {
      content: '';
      position: absolute;
      display: block;
      height: 4px;
      width: 4px;
      border-radius: 50%;
      top: 50%;
      transform: translateY(-50%);
      background: rgb(114, 114, 114); 
    }
    &:before {
      left: -10px;
    }
    &:after {
      right: -10px;
    }
  }
  &__logo {
    width: 70px;
    margin-right: 5px;
  }
}