
@import "./../../scss/main.scss";

.users {
	@include flexbox();
	flex-direction: column;
	background-color: $second;
	box-shadow: $shadow;
  border-radius: 6px;
	min-height: 670px;
	margin: 15px 15px;
	animation: showIn 0.3s ease;
	transform: translateZ(0);
	@media (max-width: $md3+px) {
		margin: 0px;
		border-radius: 0px;
	}
	&__preloader {
		margin: 15px;
    width: auto;
		border-radius: 10px;
		@media (max-width: $md3+px) {
      margin: 0px;  
      border-radius: 0;
    }
	}
	&__wrap {
		height: 100%;
	}
	&__scrollbar {
		height: 100%;
	}
	&__settings {
		@include flexbox();
		flex-wrap: wrap;
		padding: 8px 15px 0px 15px;
		align-items: center;
		border-bottom: 1px solid $first;
		& > * {
			margin-bottom: 8px;
		}
	}
	&__select {
		margin-right: 15px;
	}
	&__pagination {
		margin-left: auto;
		margin-right: 0;
	}
}


@keyframes showIn {
  from {  opacity: 0; }
  to   {  opacity: 1; }
}