
@import "../../../scss/main.scss";
.preloader {
	@include flexbox();
	justify-content: center;
	align-items: center;
	min-height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.1);
	flex: 1; 
}

.loader {
	width: 70px;
	height: 70px;
	&__circle {
		margin: (70px * .25 - 2px)  0 0 (70px *.25 - 2px);
		width: 50%;
		height: 50%;
		border: 3px solid $accent;
		border-radius: 50%;
		animation: circlePulse 1s ease infinite;
	}
}

@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes circlePulse {
	0% {
		transform: scale(.1);
	}
	80% {
		opacity: .8;
	}
	100% {
		transform: scale(1);
		opacity: 0;
	}
}