@import "scss/main.scss";

// Global style
.app-wrapper {
  background: #EDF2F6;
  padding: 0px 0px;
  min-height: 100vh;
}

.content-wrapper {
  position: relative;
  margin-left: 300px;
  padding: 75px 15px 16px 0px;
  min-height: 100vh;
}