@import "scss/main.scss";

// Global style
.app-wrapper {
  background: #EDF2F6;
  height: 100vh;
}

.content-wrapper {
  position: relative;
  margin-left: 285px;
  padding: 60px 0px 0px 0px;
  height: 100%;
  @media (max-width: $md3+px) {
    margin-left: 0px;
  }
}

.scrollbar {
  padding: 15px 15px 15px 15px;
}