
@import "./../../scss/main.scss";
.notifications {
	position: fixed;
	z-index: 999;
	bottom: 40px;
	left: 15px;
	width: 260px;
	@media (max-width: $md3+px) {
		bottom: 60px;
	}
	&__list {
		& > * {
			margin-bottom: 15px;
		}
	}
	&__suspense {
		position: fixed;
		bottom: 15px;
		left: 15px;
		@include flexbox();
		align-items: center;
	}
	&__descr {
		font-size: 13px;
		text-shadow: $shadow;
	}
	&__loader {
		display: inline-block;
		padding: 2px;
		border-radius: 50%;
		background: $second;
		box-shadow: $shadow;
		margin-right: 10px;
		&:after {
			content: " ";
			display: block;
			width: 20px;
			height: 20px;
			border-radius: 50%;
			border: 3px solid $accent;
			border-color:  lighten($accent, 15%) transparent  lighten($accent, 15%) transparent;
			animation: loaderAnimation 1.2s linear infinite;
		}
		
	}
}

@keyframes loaderAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

