
@import "../../../scss/main.scss";
.preloader {
	@include flexbox();
	justify-content: center;
	align-items: center;
	min-height: 400px;
	max-width: 800px;
	background: rgba(0, 0, 0, 0.1)
}
.item {
	width: 70px;
}



