
@import "../../../scss/main.scss";
.preloader {
	@include flexbox();
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.1)
}
.item {
	width: 70px;
}



