@import "./../../../scss/main.scss";

.friends {
  background: $second;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: $shadow;
  text-decoration: none;
  color: $accent;
  @media (max-width: $md3+px) {
    display: none;
  }
}

.title {
  display: block;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  line-height: 25px;
  height: 25px;
  color: $first;
  background: $accent;
}

.list {
  @include flexbox();
  flex-wrap: wrap;
  &__more {
    @include flexbox();
    justify-content: center;
    align-items: center;
    flex: 0 0 33.33%;
    width: 33%;
    translate: background 0.1s;
    &:hover {
      background: darken($first, 5%);
    }
  }
  &__threeDots {
    height: 7px;
    width: 7px;
    border-radius: 50%;
    background: rgb(114, 114, 114); 
    position: relative;
    margin: 0 14px;
    &:before {
      content: '';
      position: absolute;
      display: block;
      height: 4px;
      width: 4px;
      border-radius: 50%;
      top: 50%;
      transform: translateY(-50%);
      left: -10px;
      background: rgb(114, 114, 114); 
    }
    &:after {
      content: '';
      position: absolute;
      display: block;
      height: 4px;
      width: 4px;
      border-radius: 50%;
      top: 50%;
      transform: translateY(-50%);
      right: -10px;
      background: rgb(114, 114, 114); 
    }
  }
}

.listItem {
  display: block;
  flex: 0 1 33.33%;
  padding: 15px;
  transform: background 0.1s;

  &:hover {
    background: $first;
  }
}

.messageCount {
  position: absolute;
  bottom: -4px;
  right: -4px;
  height: 20px;
  width: 20px;
  line-height: 20px;
  border-radius: 50%;
  text-align: center;
  font-size: 10px;
  font-weight: 600;
  background: $accent3;
  color: $first;
}

.name {
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
  color: $accent;
}

.logo {
  margin: 0 auto;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  position: relative;
  img {
    width: 45px;
    height: 45px;
    object-fit: fill;
    border-radius: 50%;
    max-width: 100%;
    width: 100%;
  }
}