
@import "./../../scss/main.scss";
.notFound {
	@include flexbox();
	align-items: center;
	justify-content: center;
	height: 100%;
	&__item {
		text-align: center;
	}
	&__title {
		font-size: 130px;
		font-weight: 600;
		line-height: 1.1;
		color: $accent;
	}
	&__subtitle {
		font-size: 18px;
		font-weight: 600;
		color: $accent;
		margin-bottom: 20px;
	}
}