@import "./../../../../scss/main.scss";

.userItem {
  display: block;
  flex: 0 0 33.33%;
  width: 33%;
  translate: background-color 0.1s;
  &:hover {
    background-color: darken($first, 5%);
  }
  & > * {
    margin-bottom: 6px;
    &:last-child {
      margin-bottom: 0px;
    }
  }
  &__link {
    display: block;
    padding: 15px 10px;
    @media (max-width: $md2+px) {
      padding: 10px 5px;
    }
  }
  &__photo {
    display: block;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 7px;
  }
  &__name {
    width: 100%;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    color: $accent;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

