@import "./../../../../scss/main.scss";

.userItem {
  display: block;
  flex: 0 1 33.33%;
  padding: 15px;
  transform: background 0.1s;
  &:hover {
    background: darken($first, 5%);
  }
  & > * {
    margin-bottom: 6px;
    &:last-child {
      margin-bottom: 0px;
    }
  }
  &__name {
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    color: $accent;
  }
}

