
@import "./../../../scss/main.scss";

.user {
	@include flexbox();
  align-items: center;
  padding: 20px;
  transition: background 0.1s;
  text-decoration: none;
  color: $accent;
  border-bottom: 1px solid $first;
  @media (max-width: $md3+px) {
    padding: 20px 15px;
  }
  &:hover {
    background: $first;
  }
  &__logo {
    flex: 0 0 60px;
    width: 60px;
    margin-right: 30px;
    @media (max-width: $md4+px) {
      flex: 0 0 50px;
      width: 50px;
      margin-right: 15px;
    }
  }
  &__info {
    flex: 1 1 auto;
    @media (max-width: $md4+px) {
      max-width: 90px;
    }
  }
  &__name, &__status {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__name {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 2px;
  }
  &__status {
    font-size: 12px;
    color: $textLight;
    max-width: 200px;
    max-height: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__profile {
    margin-left: auto;
    margin-right: 60px;
    @media (max-width: $md2+px) {
      margin-right: 15px;
    }
    @media (max-width: $md4+px) {
      margin-right: 10px;
    }
  }
  &__dialog {
    margin-right: 20px;
    @media (max-width: $md2+px) {
      margin-right: 15px;
    }
    @media (max-width: $md4+px) {
      margin-right: 10px;
    }
  }
  &__follow {
    min-width: 135px;
    @media (max-width: $md3+px) {
      min-width: 15px;
    }
  }
}