
@import "./../../../scss/main.scss";

.controlPanel {
	@include flexbox();
		flex-wrap: wrap;
		padding: 0px 20px;
		align-items: center;
		height: 50px;
		border-bottom: 1px solid $first;
		&__selectCount {
			margin-right: 15px;
		}
		&__selectCategory {
			margin-right: 15px;
			:global {
				.select {
					min-width: 150px;
				}
			}
		}
		&__selectView {
			margin-right: 15px;
			:global {
				.select {
					min-width: 100px;
				}
			}
		}
		&__pagination {
			margin-left: auto;
			margin-right: 0;
		}
}