@import "./../../scss/main.scss";

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  grid-area: header;
  background: $accent;
  color: #fff;
  height: 60px;
  box-shadow: $shadow;
  z-index: 999;
  &__button {
    margin-left: 15px;
  }
}
.header .container {
  @include flexbox();
  justify-content: space-between;
}

.logo {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 600;
}
.name {
  font-size: 12px;
  vertical-align: middle;
  @media (max-width: $md4+px) {
    display: none;
  }
}
.user {
  @include flexbox();
  align-items: center;
  &__logo {
    width: 40px;
    margin-left: 15px;
  }
  &__flag {
    background: $second;
    height: 6px;
    width: 6px;
    border-radius: 6px;
    margin-right: 12px;
    background: $accent3;
  }
  &__name {
    font-size: 12px;
    color: #fff;
    font-weight: 600;
    @media (max-width: $md4+px) {
      display: none;
    }
  }
}
