$minwidth:320px;
$mw:1170;
$md1:$mw+12;
$md2:992.98;
$md3:767.98;
$md4:479.98; 
$md5:379.98; 

$first: rgb(241, 240, 240);
$second: #fff; 

$accent: #282C34;
$accent2: #FFB825;
$accent3: #28A745;
$error: rgb(228, 37, 37);

$textLight: rgb(78, 78, 78); 


$shadow: 	0 6px 22px 0 rgba(58, 60, 65, 0.28);  // 0 6px 22px 0 rgba(0,0,0,0.08);
$shadowAccent: 	0 6px 22px 0 rgba(58, 60, 65, 0.48);  // 0 6px 22px 0 rgba(0,0,0,0.08);
$shadowCover: 	0 15px 22px 0 rgba(58, 60, 65, 0.48);  // 0 6px 22px 0 rgba(0,0,0,0.08);
$shadowligth: 	0 4px 10px 0 rgba(101, 102, 104, 0.28);  // 0 6px 22px 0 rgba(0,0,0,0.08);
$shadowgreen: 	0 4px 10px 0 rgba(185, 185, 185, 0.28);  // 0 6px 22px 0 rgba(0,0,0,0.08);
