$minwidth:320px;
$mw:1170;
$md1:$mw+12;
$md2:992.98;
$md3:767.98;
$md4:479.98; 
$accent: #FFB825;
$accent: #282C34;
$first: #F7F7F7;
$second: #fff;
$shadow: 	0 6px 22px 0 rgba(58, 60, 65, 0.28);  // 0 6px 22px 0 rgba(0,0,0,0.08);