$minwidth:320px;
$mw:1170;
$md1:$mw+12;
$md2:992.98;
$md3:767.98;
$md4:479.98; 
$accent2: #FFB825;
$accent3: #28A745;
$accent: #282C34;
$textLight: rgb(78, 78, 78); 
$first: rgb(241, 240, 240);
$second: #fff;
$shadow: 	0 6px 22px 0 rgba(58, 60, 65, 0.28);  // 0 6px 22px 0 rgba(0,0,0,0.08);