$minwidth:320px;
$mw:1170;
$md1:$mw+12;
$md2:992.98;
$md3:767.98;
$md4:479.98;
 

$blue:#0E5481;
$grey: #ECF0FB;
$darkgrey: rgb(175, 175, 175);
$white: #fff;
$lightdark: rgb(63, 63, 63);
$dark: #050505;
$red: #dd1b1b;