
@import "./../../scss/main.scss";
.settings {
	background: $second;
	border-radius: 8px;
	overflow: hidden;
	min-height: 180%;
	max-width: 750px;
	&__container {
		padding: 25px 30px;
	}
	&__form {
		&_inline {
			@include flexbox();
			align-items: center;
		}
	}
}

.aboutMe {
	resize: none;
	min-height: 300px;
}