
@import "./../../scss/main.scss";
.settings {

	height: 100%;
	max-width: 800px;
	&__wrap {
		margin: 15px;
		background: $second;
		border-radius: 8px;
		overflow: hidden;
	}
	&__container {
		padding: 25px 30px;
	}
	&__form {
		&_inline {
			@include flexbox();
			align-items: center;
		}
	}
	&__scrollbar {

	}
}

.aboutMe {
	resize: none;
	min-height: 300px;
}