@import "./../../../scss/main.scss";
.userInfo {
	position: relative;
	display: block;
	overflow: hidden;
	border-radius: 8px;
	margin-bottom: 15px;
	box-shadow: $shadow;
	background-color: $second;
	min-height: 300px;
	&__button {
		position: absolute;
		top: 100px;
		right: 15px;
		margin-left: 15px;
	}
	&__container {
		display: flex;
		justify-content: center;
		margin-bottom: 15px;
	}
	&__name {
		margin-top: 0px;
		text-align: center;
		font-weight: 600; 
		font-size: 20px;
		color: $accent;
		margin-bottom: 10px;
	}
	&__main {
		position: relative;
		margin-top: -85px;
		padding: 0px 15px;
	}
	&__jobDescription {
		margin: 0 auto;
		text-align: center;
		color: lighten($accent, 30%);
		font-size: 14px;
		margin-bottom: 10px;
		max-width: 500px;
	}
}